<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>lab</title>
</head>
<body>
    <h1>{{article.name}} written by {{article.author}}</h1>
    <textarea id="article_text" cols="100" rows="20" disabled>{{article.text}}</textarea><br>
    <div id="commentsBlock">
        {% for comment in comments %}
            <div>
                <textarea cols="100" rows="4" disabled>{{comment.text}}</textarea>
                <p>by {{comment.author}} at  {{comment.date|date:"d.m.Y H:i"}}</p>
            </div>
        {% endfor %}
    </div>

    {{ article_id|json_script:"article-id" }}

    <textarea id="addComment" cols="100" rows="4"></textarea>
    <input id="submit" type="button" value="Send">

    <script>
        const article_id = JSON.parse(document.getElementById('article-id').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/lab/'
            + article_id
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#commentsBlock').innerHTML = document.querySelector('#commentsBlock').innerHTML 
             + '<div><textarea cols="100" rows="4" disabled>' + data.text + '</textarea>'
                +'<p>by ' + data.author+ ' at ' + data.date + '</p></div>';
        };

        chatSocket.onclose = function(e) {

            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#submit').onclick = function(e) {
            const $addComment = document.querySelector('#addComment');
            chatSocket.send(JSON.stringify({
                'article_id': article_id,
                'commentText': $addComment.value,
            }));
            $addComment.value = '';
        };
    </script>
</body>
</html>